<ion-view hide-back-button="true">
    <ion-nav-title>
        <div style="margin:0 auto;font-size:22px;line-height:44px;">
            store
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-navicon button-dark" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="cart">
            <i class="icon ion-ios-cart-outline dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content style="background: #f2f2f2;">
        <div class="row" style="margin-top:15px;">
            <div class="col"><img src="images/store01.png" ui-sref="hats"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/store02.png" ui-sref="clocks"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/store03.png" ui-sref="shirts"></div>
            <div class="col"><img src="images/store04.png" ui-sref="jackets"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/store05.png" ui-sref="bags"></div>
            <div class="col"><img src="images/store06.png" ui-sref="shoes"></div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col"><img src="images/store07.png" ui-sref="glasses"></div>
            <div class="col"><img src="images/store08.png" ui-sref="jeans"></div>
        </div>
    </ion-content>
</ion-view>