<ion-view hide-back-button="true">
    <ion-nav-title>
        <div style="margin:0 auto;font-size:22px;line-height:44px;">
            Shoes
        </div>
    </ion-nav-title>
    <ion-nav-buttons side=left">
        <button class="button button-clear" ui-sref="home">
            <i class="icon ion-android-arrow-back dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear"  ui-sref="cart">
            <i class="icon ion-ios-cart-outline dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content style="background: #f2f2f2;">
        <div><img src="images/shoes/shoes_banner.jpg" style="width:100%"></div>
        <ion-list>
            <div ng-repeat="product in data.shoes track by $index" class="row" ng-if="$index % 2 == 0">
                <ion-item class="col-50" ng-repeat="i in [$index,$index + 1]" ng-if="data.shoes[i] != null" ng-click="toDetail('shoes',data.shoes[i].imgsrc,data.shoes[i].title,data.shoes[i].price)">
                    <img ng-src="{{data.shoes[i].imgsrc}}.jpg">
                    <h3>{{data.shoes[i].title}}</h3>
                    <p>{{data.shoes[i].price}}</p>
                </ion-item>
            </div>
            <div style="text-align: center">—The End—</div>
        </ion-list>
    </ion-content>
</ion-view>