<ion-view>
    <ion-nav-title>
        <div style="margin:0 auto;font-size:19px;line-height:44px;">
            Quick Checkout
        </div>
    </ion-nav-title>
    <ion-content style="background: #f2f2f2;">
        <ion-list>
            <ion-item style="margin-top:14px;height:70px;border-top:none">
                <h3 style="line-height: 35px;">Payment Information</h3>
            </ion-item>
            <label class="item item-input item-input-inset">
                <span class="input-label">Full Name</span>
                <input type="text" style="text-align: right">
            </label>
            <label class="item item-input item-input-inset">
                <span class="input-label">Card Number</span>
                <input type="text" style="text-align: right">
            </label>
            <div class="item item-input row">
                <label class="col=50 item-input-inset">
                    <span class="input-label" style="padding-left:3px">Expiration</span>
                    <input type="text" style="text-align: right">
                </label>
                <label class="col=50 item-input-inset">
                    <span class="input-label">CVV</span>
                    <input type="text" style="text-align: right">
                </label>
            </div>

            <ion-item style="margin-top:14px;height:70px;border-top:none">
                <h3 style="line-height: 35px;">Payment Information</h3>
            </ion-item>
            <label class="item item-input item-input-inset">
                <span class="input-label">Phone Number</span>
                <input type="text" style="text-align: right">
            </label>
            <label class="item item-input item-input-inset">
                <span class="input-label">Address</span>
                <input type="text" style="text-align: right">
            </label>
            <div class="item item-input row">
                <label class="col=50 item-input-inset">
                    <span class="input-label" style="padding-left:3px">Country</span>
                    <input type="text" style="text-align: right">
                </label>
                <label class="col=50 item-input-inset">
                    <span class="input-label">City</span>
                    <input type="text" style="text-align: right">
                </label>
            </div>
            <div class="totalPrice">
                <h4>Total Price</h4>
                <p>€29</p>
            </div>
            <ion-item class="order_btn_box">
                <button class="order_btn">Place Order</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>