<ion-view>
    <ion-nav-title>
        <div style="margin:0 auto;font-size:22px;line-height:44px;">
            Favorites
        </div>
    </ion-nav-title>
    <ion-nav-buttons side=left">
        <button class="button button-clear" ui-sref="home">
            <i class="icon ion-android-arrow-back dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="cart">
            <i class="icon ion-ios-cart-outline dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content style="background: #f2f2f2;">
        <ion-list>
            <ion-item class="item-thumbnail-left fav_list" style="background: #f2f2f2">
                <img src="images/favorites01.png">
                <h3>€79</h3>
                <p>Lace - Up Leather Sneakers</p>
                <div class="fav_time">Aug 08.13.2015</div>
            </ion-item>
            <ion-item class="item-thumbnail-left fav_list" style="background: #f2f2f2">
                <img src="images/favorites02.png">
                <h3>€79</h3>
                <p>Lace - Up Leather Sneakers</p>
                <div class="fav_time">Aug 08.13.2015</div>
            </ion-item>
            <ion-item class="item-thumbnail-left fav_list" style="background: #f2f2f2">
                <img src="images/favorites03.png">
                <h3>€79</h3>
                <p>Lace - Up Leather Sneakers</p>
                <div class="fav_time">Aug 08.13.2015</div>
            </ion-item>
            <ion-item class="item-thumbnail-left fav_list" style="background: #f2f2f2">
                <img src="images/favorites04.png">
                <h3>€79</h3>
                <p>Lace - Up Leather Sneakers</p>
                <div class="fav_time">Aug 08.13.2015</div>
            </ion-item>
            <ion-item class="item-thumbnail-left fav_list" style="background: #f2f2f2">
                <img src="images/favorites05.png">
                <h3>€79</h3>
                <p>Lace - Up Leather Sneakers</p>
                <div class="fav_time">Aug 08.13.2015</div>
            </ion-item>
        </ion-list>
        <div class="fav_btn_box">
            <button class="fav_btn">Clear Favorites</button>　<button class="fav_btn" style="background: #fff">Add to cart all items</button>
        </div>
    </ion-content>
</ion-view>
